*{
	margin: 0;
	font-family: sans-serif;
	text-decoration: none;
}
.hat{
	background: black;
	padding-left: 250px;
	padding-right: 250px;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	justify-content: space-between;
}
.hat a{
	color: white;
	font-size: 21px;
	text-decoration: none;
	transition: 0.5s;
}
.hat a:hover{
	color:  #ffcc00;
}

.info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 250px;
	box-shadow: 0 0 5px gray;
}
.orange{
	color: orange;
}
.info_phone{
	text-decoration: none;
	transition: 0.5s;
}
.info_number{
	font-weight: 900;
	font-size: 20px;

}
.info_button{
	background: #ffcc00;
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px 40px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	transition: 0.5s;
}
.info_button:hover{
	box-shadow: 0 0 5px gray;
}
.promo{
	/*height: 700px;*/
	background: url(img/promo_bg.png);
	background-size: cover;
	background-position: 50% 50%;
	padding: 150px 350px 150px 250px;
	
}
.promo_box{
	display: flex;
	justify-content: space-between;
}
.promo_info{
	width: 300px;
}
.promo_info button, .auto_info button, .form_button{
	background: #ffcc00;
	font-size: 16px;
	text-transform: uppercase;
	padding: 15px 55px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5s;
	margin-top: 30px;

}
.promo_info button:hover{
	box-shadow: 0 0 5px gray;
}

.promo_pay{
	width: 400px;
}
.promo_pay p{
	font-size: 22px;
}
.promo_pay b{
	display: block;
	margin-top: 50px;
	font-size: 60px;
}

.warning{
	margin-top: 15px;
}



/*--------------------------------------*/
.df-sb{
	display: flex;
	justify-content: space-between;
}